* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 16px;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #0077B5;
    color: rgb(162, 236, 231);
  }
  
  nav ul {
    display: flex;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li:last-child {
    margin-right: 0;
  }
  
  nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
  }
  
  nav button {
    background-color: #fff;
    color: #0077B5;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 20px;
    transition: all 0.3s ease-in-out;
  }
  
  nav button:hover {
    background-color: #0077B5;
    color: #fff;
  }
  
  .hero {
    background-image: url('https://cdn.pixabay.com/photo/2015/09/18/20/44/network-948828_960_720.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(231, 131, 194);
  }
  
  .hero h1 {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-shadow: 1px 1px #000;
  }
  
  .hero p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    text-shadow: 1px 1px rgb(11, 10, 10);
  }
  
  .hero form {
    display: flex;
    align-items: center;
  }
  
  .hero input[type='text'] {
    padding: 10px;
    border: none;
    border-radius: 30px 0 0 30px;
    flex: 1;
  }
  
  .hero button {
    padding: 10px 20px;
    border: none;
    background-color: #fff;
    color: #0077B5;
    border-radius: 0 30px 30px 0;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .hero button:hover {
    background-color: #0077B5;
    color: #fff;
  }
  
  main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
  }
  
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 40px;
  }
  
  section h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  section p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  section button {
    padding: 10px 20px;
    border: none;
    background-color: #0077B5;
    color: rgb(255, 255, 255);
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  section button:hover {
    background-color: #fff;
    color: #0077
  }